.dashboard_wrapper {
    background-color: var(--bgVeryLightGray);
}

.dashboard_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    min-height: calc(100vh);
}

.dashboard_container * {
    transition: color 200ms ease-in-out,
    opacity 200ms ease-in-out;
}

.menu {
    width: 30%;
    white-space: nowrap;
    padding-right: 3rem;
    margin-right: 1rem;
    background-color: var(--bgVeryLightGray);
    border-right: 3px solid var(--colorDarkBlue);
    transition: all 200ms ease-in-out;
}

.menu.closed {
    padding: 0;
    width: 0;
    overflow: hidden;
}

.menu.closed * {
    opacity: 0;
}

.menu p {
    display: flex;
    align-items: center;
    padding-bottom: 0.3rem;
    font-size: 1.375rem;
    font-weight: 700;
    color: var(--colorDarkBlue);
    border-bottom: 3px solid var(--colorDarkBlue);
}

.menu svg {
    margin-right: 0.7rem;
}

.menu ul {
    padding-left: 0.7rem;
    margin-bottom: 1.5rem;
}

.menu ul li {
    padding-left: 0.5rem;
    margin-bottom: 0.9rem;
}

.menu ul li a {
    display: flex;
    align-items: center;
}


.menu a.active,
.menu a:hover {
    color: var(--colorDarkBlue);
}

.toggler_mobile {
    display: none;
}

.children_container {
    flex: 1;
}

@media screen and (max-width: 1050px) {
    .dashboard_container {
        position: relative;
        display: block;
        z-index: 1;
    }

    .menu {
        position: absolute;
        top: 2rem;
        padding: 1.5rem 0 1rem;
        width: 0;
        overflow: hidden;
        border-right: none;
        border-radius: 5px;
        box-shadow: 1px 2px 3px var(--shadow);
        z-index: 32;
    }

    .menu * {
        opacity: 0;
    }

    .menu.closed * {
        opacity: 1;
    }

    .menu.closed {
        padding: 1.5rem 2rem 1.5rem 1rem;
        width: 70vw;
        border: 1px solid var(--colorDarkBlue);
    }

    .toggler_mobile {
        position: absolute;
        top: 2.5rem;
        right: 1.5rem;
        display: block;
        z-index: 40;
    }

    .toggler_desktop {
        display: none;
    }
}

@media (max-width: 39.5rem) {
    .menu p {
        font-size: var(--font-med);
    }
}

