.incoming_wrapper {
    background-color: var(--veryLightGray);
    min-height: calc(100vh - 18rem);
}

.incoming {
    text-align: center;
}

.incoming h1 strong {
    color: var(--limeGreen);
}

.incoming p {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-top: 3rem;
}

.links p {
    font-size: 1.2rem;
}

.links .back {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--darkBlue);
    text-decoration: underline;
}

.links .back:hover {
    color: var(--limeGreen);
}

.links .back p {
    margin: 0 0 0 0.7rem;
}

