.header {
    position: relative;
    z-index: 1;
}

.navbar {
    position: relative;
    padding-top: 1.0625rem;
    padding-bottom: 0.55rem;
    background-color: var(--white);
}

.logo img {
    width: 8.8125rem;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.links li:not(:last-child) {
    margin-right: 2rem;
}

.links a {
    position: relative;
    font-size: 1rem;
    color: var(--grayishBlue);
    transition: color 200ms ease-in-out;
}

.links a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    display: block;
    height: 5px;
    background: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.links a:hover {
    color: var(--darkBlue);
}

.links a.active {
    color: var(--darkBlue);
}

.links a.active:before {
    opacity: 1;
}

.links a:hover:before {
    opacity: 1;
}

.sign {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign a {
    font-size: 1rem;
    transition: color 200ms ease-in-out;
}

.sign a:not(:last-child) {
    margin-right: 1.5rem;
}

.sign a.little:hover {
    color: var(--darkBlue);
}


